{% load static %}
{% load is_upper_filter %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Find easily a doctor and book online an appointment">
	<meta name="author" content="Ansonika">
	<title>HeroDoc - programează-te online și grătuit la medic</title>

	<!-- Favicons-->
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-57x57-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114-precomposed.png' %}">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144-precomposed.png' %}">

	<!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

	<!-- BASE CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet">
	<link href="{% static 'css/vendors.css' %}" rel="stylesheet">
	<link href="{% static 'css/icon_fonts/css/all_icons_min.css' %}" rel="stylesheet">

	<!-- YOUR CUSTOM CSS -->
	<link href="{% static 'css/custom.css' %}" rel="stylesheet">
	<script src="{% static 'js/my_script.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/homestyle.css' %}">

</head>

<body class="body_width">

	<div id="preloader" class="Fixed">
		<div data-loader="circle-side"></div>
	</div>
	<!-- /Preload-->

	<div id="page">
		<header class="header_sticky">
			<a href="#menu" class="btn_mobile">
				<div class="hamburger hamburger--spin" id="hamburger">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</a>
			<!-- /btn_mobile-->
			<div class="container" id="content-desktop">
				<div class="row mt-2">
					<div class="col-md-2 col-6">
						<div class="logo_edit">
							<img src="/media/images/logo.png" class="rounded float-left mb-2" alt="...">
						</div>
					</div>
					<div class="col-md-10 col-6 text-right">
						<div class="top_edit" id="top_modify">
							<a href="tel://069274986" class="tablet"> 
								<div class="mr-1">
									<i class="icon_mobile"></i> +373 69274986
								</div> 
							</a>
							<a class="btn btn-light for_response" href="">Programează-te la medic</a>
							  <a href="" class="ru" id="ru_btn">
								<button class="btn btn-sm btn-link">
									Ru
								</button> | 
								<button class="btn btn-sm btn-link">
									Ro
								</button>
							</a>
						</div>
						<br>
						<nav id="menu" class="main-menu pt-1 pb-0">
							<ul>
								<li>
									<span>
										<a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/doctor/">Medici</a>
									</span>
								</li>
								<li>
									<span>
										<a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/serviciu/clinici/">Clinici</a>
									</span>
								</li>
								<li>
									<span>
										<a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/serviciu/diagnostic/">Centre de diagnostic</a>
									</span>
								</li>
								<li>
									<span>
										<a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/serviciu/laboratoare/">Laboratoare</a>
									</span>
								</li>
								<li>
									<span>
										<a href="{{request.scheme}}://{{request.META.HTTP_HOST}}/serviciu/stomatologii/">Stomatologii</a>
									</span>
								</li>
								<li id="for_mobile">
									<a href="">RO/RU</a>
								</li>
							</ul>
						</nav>
						<!-- /main-menu -->
					</div>
				</div>
			</div>
			<!-- /container -->
		</header>
		<!-- /header -->

		<!--For mobile-->
		<div class="row" id="content-mobile">
			<div class="col-md-4 text-center mb-2 mt-3">
				<a href="tel://069274986">
					<i class="icon_mobile"></i> +373 69274986
				</a>
			</div>
			<div class="col-md-4 text-center mb-2 nav_btn">
				<a class="btn btn-light" href="">Programează-te la medic</a>
			</div>
			<div class="col-md-4 text-center mb-2">
				<div class="">
					<img src="/media/images/logo.png" class="rounded" alt="...">
				</div>
			</div>
		</div>
	<!--end mobile-->
		<main>
			<div class="hero_home version_1">
				<div class="content">
					<h3>Programează-te online la medic</h3>
					<p>
						Serviciul este grătuit pentru pacienți
					</p>
					<form action="{% url 'choose_city' %}" method="POST" class="">
						<!-- <div class="row search_doctor doctor_mainpage"> -->
							<select id="service_type" class="doctor mr-1" name="service_type" onchange="selectSearchType()">
								{% for serv in service_type %}
								<option value="{{ serv }}">{{ serv }}</option>
								{% endfor %}
	
							</select>
							<select name="service_doc" id="mog" class="doctor mr-1 for_width" >
								{% for serv in service_doc %}
								<option value="{{ serv }}">{{ serv }}</option>
								{% endfor %}
	
							</select>
							<!-- <select name="service_serv" id="tog" class="del" disabled style="width:400px">
								{% for serv in service_serv %}
								<option value="{{ serv }}">{{ serv }}</option>
								{% endfor %}
							</select> -->
							<select name="location" class="doctor mr-1">
								{% for loc in location %}
								<option value="{{ loc }}">{{ loc }}</option>
								{% endfor %}
							</select>
							<button class="doctor">Search</button>
						<!-- </div> -->
					</form>
				</div>
			</div>
			<!-- /Hero -->
			<div class="container demo pt-5">
				<div class="main_title">
					<h3>Caută după profesie</h3>
					<div class="w-100 d-flex justify-content-center">
						<div class="separator w-10">
							<div class="plus">
							</div>
						</div>
					</div>
				</div>
                <div class="scroll" id="alllinkcontainer1">
                    <div id="alllink1" style="overflow: hidden;height: 249px;">
                        <div class="div-sty">
                            <ul  id="linkcontainer" class="chooser__list">
                                {% for serv in service_doc %}
                                <li  class="li-sty">
									<p class="chooser__list__item-wrapper">
										<a class="chooser__list__item-link" href="http://127.0.0.1:8000/doctor/acupunctor/">{{serv}}</a>
										 <span class="chooser__list__quantity">23</span> 
									</p>
								</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                   <div class="mb-3">
					<center>
						<div  id="loadmore" class="load">
							<i id="loadmoretext">Vezi toate specialitățile</i>
						</div>	
					   </center>
						<center>
							<div id="loadless" class="load">
								<i id="loadlesstext">Închide toate specialitățile</i>
							</div>
						</center>
				   </div>
					</div>
					<!-- <hr style="border: 1px dashed gray; margin:20px;"> -->
                    <!-- <div class="list_title">

                        <h3>Caută după serviciu</h3>
					</div> -->
					<div class="main_title">
						<h3>Caută după serviciu medical</h3>
						<div class="w-100 d-flex justify-content-center">
							<div class="separator w-10">
								<div class="plus">
								</div>
							</div>
						</div>
					</div>
                    <div>
						
						<div class="cauta">
							<!-- <div style="height: 278px; overflow: hidden;" id="allinone2">
									{% for serv in service_serv %}	
											{% if serv|is_upper_filter %}
												<span class="item-title_mobile">{{ serv }}</span>
											{% endif %}
											<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
												{% if serv|is_upper_filter %}
												{% else %}
													<li class="diagnostics-record__inner-list__item"><p class="chooser__list__item-wrapper2"><a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">{{ serv }} </a></li>
												{% endif %}
	
											</ul>
									{% endfor %}
								
							</div> -->
							<div class="second_card" id="allinone2">
								<div class="row ml-2 mt-4 medical_list">
									<div class="col-md-4">
										<div class="item-title_mobile">Ultrasonografie</div>
										<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Neografie frontală </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Ecografie glanda teroida </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Ecografie glande mamare </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Neografie frontală </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Ecografie glanda teroida </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Ecografie glande mamare   </a>
												</li>
										</ul>
									</div>
									<div class="col-md-4">
										<div class="item-title_mobile">Radiografie</div>
										<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Craniu</a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Clavicula</a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Femur </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Craniu </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Clavicula </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Femur </a>
												</li>
										</ul>
									</div>
									<div class="col-md-4">
										<div class="item-title_mobile">Elastografie</div>
										<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Electrocardiograma </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Electrocardiografie de repaus </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Electrocardiografie  </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Electrocardiografie de repaus </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Electrocardiografie. </a>
											</li>

										</ul>
									</div>
								  </div>
								  <!--first demo-->
								  <div class="row ml-2 for_center">
									<div class="col-md-4 ">
										<div class="item-title_mobile">Lorem, ipsum Load More1</div>
										<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
										</ul>
									</div>
									<div class="col-md-4">
										<div class="item-title_mobile">Lorem, ipsum Load More2</div>
										<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet.</a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
												<li class="diagnostics-record__inner-list__item">
													<p class="chooser__list__item-wrapper2">
														<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
												</li>
										</ul>
									</div>
									<div class="col-md-4">
										<div class="item-title_mobile">Lorem, ipsum Load More3</div>
										<ul class="diagnostics-record__inner-list js-content-hide" id="place1">
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
											<li class="diagnostics-record__inner-list__item">
												<p class="chooser__list__item-wrapper2">
													<a class="chooser__list__item-link" href="http://127.0.0.1:8000/serviciu/neurosonografia-prin-fontanela/">Lorem ipsum dolor sit amet. </a>
											</li>
										</ul>
									</div>
								  </div>
							</div>

							<div class="mb-4">
								<div class="load_two" id="loadmore2">
									<i id="loadmoretext2">Vezi toate serviciile</i>
								</div>
								<div class="load_two_less" id="loadless2">
									<i id="loadlesstext2">Închide toate serviciile</i>
								</div>
							</div>
						</div>
						<!-- <hr style="border: 1px dashed gray; margin:20px;"> -->
                    </div>
					

                    <div id="app_section">
                        <div class="container">
                            <div class="row justify-content-center text-center">
                                <!-- <div class="col-md-5">
                                    <p><img src="img/app_img.svg" alt="" class="img-fluid" style="width:100%" height="433"></p>
                                </div> -->
                                <div class="col-md-12">
<!--                                    <small>Application</small>-->
<!--                                    <h3>Download <strong>Findoctor App</strong> Now!</h3>-->
									<p class="lead">Tota omittantur necessitatibus mei ei. Quo paulo perfecto eu, errem percipit ponderum no eos. Has eu mazim sensibus. Ad nonumes dissentiunt qui, ei menandri electram eos. Nam iisque consequuntur cu.</p>
									<div class="row card_image">
										<div class="col-md-4 text-center">
											<img src="http://via.placeholder.com/350x500.jpg" alt="">
											<br>
											<br>
											<span><b>Test sub title line</b></span>
											<br>
											<br>
											<p>Sint quia obcaecati reprehenderit voluptas. Ab voluptas quo reiciendis ipsum et veritatis accusantium labore, debitis illum!</p>
										</div>
										<div class="col-md-4 text-center">
											<img src="http://via.placeholder.com/350x500.jpg" alt="">
											<br>
											<br>
											<span><b>Test sub title line</b></span>
											<br>
											<br>
											<p>Sint quia obcaecati reprehenderit voluptas. Ab voluptas quo reiciendis ipsum et veritatis accusantium labore, debitis illum!</p>
										</div>
										<div class="col-md-4 text-center">
											<img src="http://via.placeholder.com/350x500.jpg" alt="">
											<br>
											<br>
											<span><b>Test sub title line</b></span>
											<br>
											<br>
											<p>Sint quia obcaecati reprehenderit voluptas. Ab voluptas quo reiciendis ipsum et veritatis accusantium labore, debitis illum!</p>
										</div>
									</div>
                                    <!-- <div class="app_buttons wow" data-wow-offset="100">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
                                        <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow" d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />



                                        <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1" d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />



                                        <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2" d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />



						</svg>
                                        <a href="#0" class="fadeIn"><img src="img/apple_app.png" alt="" width="150" height="50" data-retina="true"></a>
                                        <a href="#0" class="fadeIn"><img src="img/google_play_app.png" alt="" width="150" height="50" data-retina="true"></a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /container -->
					</div>
					<!-- <hr style="border: 1px dashed gray; margin:20px;"> -->
                    <!-- /app_section -->
</main>
		<!-- /main content -->

		<footer class="footer_edit text-center">
			<div class="container margin_60_35">
				<div class="row">
					<div class="col-lg-3 col-md-12">
						<p>
							<a href="index.html" title="HeroDoc">
								<img src="{% static 'img/logo.png' %}" data-retina="true" alt="" width="163" height="36" class="img-fluid">
							</a>
						</p>
					</div>
					<div class="col-lg-3 col-md-4">
						<h5>Despre Serviciu</h5>
						<ul class="links">
							<li><a href="#0">Despre HeroDoc</a></li>
							<li><a href="#0">Întrebări și răspunsuri</a></li>
							<li><a href="#0">Despre rating</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog.html">Ghid de boli</a></li>
							<li><a href="#0">Termini și condiții</a></li>
							<li><a href="#0">Confidențialitate</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4">
						<h5>Pentru Utilizători</h5>
						<ul class="links">
							<li><a href="#0">Doctori</a></li>
							<li><a href="#0">Clinici</a></li>
							<li><a href="#0">Centre de diagnostic</a></li>
							<li><a href="#0">Laboratoare</a></li>
							<li><a href="#0">Stomatologii</a></li>
							<li><a href="#0">Servicii</a></li>
							<li><a href="login.html">Logare</a></li>
							<li><a href="register.html">Inregistrare</a></li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-4">
						<h5>Contacte</h5>
						<ul class="contacts">
							<li>
								<a href="tel://069274986">
									<i class="icon_mobile"></i> +373 69274986
								</a>
							</li>
							<li>
								<a href="mailto:info@herodoc">
									<i class="icon_mail_alt"></i> info@herodoc
								</a>
							</li>
						</ul>
						<div class="follow_us">
							<h5>Urmărește-ne</h5>
							<ul>
								<li><a href="#0"><i class="social_facebook"></i></a></li>
								<li><a href="#0"><i class="social_twitter"></i></a></li>
								<li><a href="#0"><i class="social_linkedin"></i></a></li>
								<li><a href="#0"><i class="social_instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!--/row-->
				<hr>
				<!--            <div class="row">-->
				<!--                <div class="col-md-8">-->
				<!--                    <ul id="additional_links">-->
				<!--&lt;!&ndash;                        <li><a href="#0">Termini și condiții</a></li>&ndash;&gt;-->
				<!--&lt;!&ndash;                        <li><a href="#0">Confidențialitate</a></li>&ndash;&gt;-->
				<!--                    </ul>-->
				<!--                </div>-->
				<!--                <div class="col-md-4">-->
				<!--                    <div id="copy">©2021 Doc24</div>-->
				<!--                </div>-->
				<!--            </div>-->
				<!--        </div>-->
		</footer>
		<!--/footer-->
	</div>
	<!-- page -->

	<div id="toTop"></div>
	<!-- Back to top button -->
	<!-- COMMON SCRIPTS -->
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/common_scripts.min.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
	<script src="{% static 'js/home.js' %}"></script>

</body>

</html>